<% if resource.errors.any? %>
  <div>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="auth-error small"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
