<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @user, url: user_path(@user), method: 'patch', class: 'user' do |f| %>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-lg">
                <div class="px-5 pt-3">
                  <div class="form-group">
                    <div class="row mb-3">
                      <%= f.text_field :profile, placeholder: 'Profile', class: 'form-control', id: 'example' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer px-5 pb-4">
          <%= f.submit 'Update', class: 'btn btn-default btn-block' %>
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
