<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
  <%=link_to '#socialmediaModal', type: 'button',  data: { toggle: 'modal', target: '#socialmediaModal', info: 'social_media' }, class: 'btn-link' do %>
    <i class="fas fa-plus-circle"></i> <span class="text-secondary">Add social media account</span>
  <% end %>
</li>
