<% title 'Cookies' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2>WHAT ARE COOKIES?</h2>
      <p>Cookies are text files with small pieces of data — like a username and password — that are used to identify your computer as you use a computer network. Specific cookies known as HTTP cookies are used to identify specific users and improve your web browsing experience.</p>
      <p>Generally, cookies are very useful and are a common method used by almost every website you visit because they help to make your online experience as smooth as possible. For security reasons, many websites will not function at all without the use of cookies (or other similar technologies, such as "web beacons" or "tags").</p>
      <p>Cookies generally do not hold any information to identify an individual person, but are instead used to identify a browser on an individual machine.</p>
      <p>If you prefer, you can restrict, block or delete cookies by changing your browser settings but that may mean that the website won't work properly</p>
      <p>For more information about cookies and their impact on you and your browsing visit #{link_to 'http://www.aboutcookies.org', 'www.aboutcookies.org'}.</p>
      <h4>Google Chrome</h4>
      <ol>
        <li>Click "Tools" at the top of your browser and select "Settings".</li>
        <li>Click "Show advanced settings", scroll down to the section "Privacy" and click "Content Settings."</li>
        <li>Select "Allow local data to be set". To only acept first-party cookies, check the box next to "Block all third-party cookies without exception"</li>
      </ol>
      <h4>Microsoft Edge</h4>
      <ol>
        <li>Click "Tools" at the top of your browser and select "Internet Options", then click the "Privacy" tab.</li>
        <li>Check that the level of your privacy is set to Medium or lower, which will allow the use of cookies in your browser.</li>
        <li>If set above medium level it will prevent the use of cookies.</li>
      </ol>
      <h4>Mozilla Firefox</h4>
      <ol>
        <li>Click "Tools" at the top of your browser and select "Options".</li>
        <li>Then select the "Privacy" icon.</li>
        <li>Click the "Cookies" and select "Allow pages to create a cookie."</li>
      </ol>
      <h4>Safari</h4>
      <ol>
        <li>Click the gear icon at the top of your browser and select "Settings".</li>
        <li>Click the "Privacy" tab, then select the option "Disable the use of cookies by third parties and advertising cookies."</li>
        <li>Click "Save".</li>
      </ol>
    </h3>
    How to manage cookies on your Mac</h3>
  <p>To enable cookies on our website, follow the steps below.</p>
  <h4>Microsoft Internet Explorer 5.0 on OSX</h4>
  <ol>
    <li>Click on "Explorer" at the top of your browser and select "Settings".</li>
    <li>Scroll down to the "Cookies" section in the "Received Files".</li>
    <li>Select "Do not ask."</li>
  </ol>
  <h4>Safari on OSX</h4>
  <ol>
    <li>Click "Safari" on the top of your browser and select "Settings".</li>
    <li>Click the "Privacy" and then "Enable cookies."</li>
    <li>Select "only the pages you have visited."</li>
  </ol>
  <h4>Mozilla and Netscape on OSX</h4>
  <ol>
    <li>Click "Mozilla" or "Netscape" at the top of your browser and select "Settings".</li>
    <li>Scroll down to the "Cookies" under "Privacy & Security".</li>
    <li>Select "Allow cookies only to the original site."</li>
  </ol>
  <h4>Opera</h4>
  <ol>
    <li>Click "Menu" on the top of your browser and select "Settings".</li>
    <li>Then select "Options" tab and the "Advanced".</li>
    <li>Select "Enable cookies."</li>
  </ol>
</div>
</div>
</div>
