<%#= javascript_include_tag Ckeditor.cdn_url%>
<div class="form-group">
  <label class="control-label col-sm-3" for="message">template_body <span class='require'>*</span></label>
  <div class="col-sm-8">
   
  </div>
</div>

